{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    @import url(//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
    @import url(//fonts.googleapis.com/earlyaccess/hanna.css);
    @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
    @import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
    @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Gamja+Flower&display=swap');
</style>
<body id="top">
    
    <div class="banner">
        <h1 style="font-family: 'Abril Fatface', cursive; font-size: 90px;">Welcome!</h1>
        <p id="intro" style="font-family: 'Gamja Flower', cursive; font-size: 25px;">정민경은 누구일까요</p>
        <a href="#list"><p id="start" style="font-family: 'Gamja Flower', cursive;">start</p></a>
        <a href="{% url 'main:bucket' %}" target="_blank"><p id="bucket list" style="font-family: 'Gamja Flower', cursive; font-size: 25px;">bucket list</p></a>
        <a href="{% url 'main:photo' %}" target="_blank"><p id="photo" style="font-family: 'Gamja Flower', cursive; font-size: 25px;">photo</p></a>
    </div>


    <div id="list">
        <p><a href="#1. Profile">1. Profile</a></p>
        <p><a href="#2. Hobby">2. Hobby</a></p>
        <p><a href="#3. Likes">3. Likes</a></p>
        <p><a href="#4. Dislikes">4. Dislikes</a></p>
    </div>

    
    <h2><a id="1. Profile">1. Profile</a></h2>
    <img src="{% static 'images/image1.jpg' %}" style="width:300px; height:300px;" alt="프로필 이미지">
        <div id="profile">
            <ul>
                <li type="disc">이름 : 정민경</li><br>
                <li type="disc">생일 : 2000.10.07</li><br>
                <li type="disc">학교 : 동국대학교</li><br>
                <li type="disc">학과 : 화공생물공학과 19학번<br>
                                            (융합소프트웨어 복수전공)</li><br>
                <li type="disc">혈액형 : AB</li>
            </ul>
        </div>

    <h2><a id="2. Hobby">2. Hobby</a></h2>
        <div id="hobby">
            <ul>
                <li type="disc">손으로 꼼지락하기</li><br>
                <li type="disc">악기 다루기</li><br>
                <li type="disc">운동하기</li><br>
            </ul>
        </div>
        <div id="hobbypicture">
            <ul>
                <li><p id="hobby1">
                    <div class="hobby1">페인팅 <br> 오일파스텔</div></p></li><br>
                <li><p class="hobby2">피아노<br>etc.</p></li><br>
                <li><p class="hobby3">필라테스<br>etc.</p></li>
            </ul>
        </div>

    <h2><a id="3. Likes">3. Likes</a></h2>
        <div id="likes">
            <ul>
                <li type="disc">달달한 디저트 먹기</li><br>
                <li type="disc">좋아하는 음식 먹기</li><br>
                <li type="disc">힐링하기</li><br>
            </ul>
        </div>
        <div id="likespicture">
            <ul>
                <li><p id="dessert">
                    <div class="dessert0">딸기라떼 연유라떼 <br> 
                        마카롱 케이크</div></p></li><br>
                <li><p id="food">
                    <div class="food0">곱창전골 떡볶이 <br>
                        고기 빵</div></p></li><br>
            </ul>
        </div>

    <h2><a id="4. Dislikes">4. Dislikes</a></h2>
        <div id="dislikes">
            <ul>
                <li type="disc">간장게장</li><br>
                <li type="disc">비둘기</li><br>
                <li type="disc">강아지 무서워함<br>
                        (멀리서 보는 것을 선호)
                </li><br>
                <li type="disc">공포영화</li>
            </ul>
        </div>
    
    <a href="#top"><div class="top" style="font-family: 'Gamja Flower', cursive;">top</div></a>
    <a href="#list"><div class="list" style="font-family: 'Gamja Flower', cursive;">list</div></a>
</body>

{% if user.is_authenticated %}
<h2 style="font-family: 'Gamja Flower', cursive;"><a href="{%url 'main:new'%}">글쓰기</a></h2>

<h1 style="font-family: 'Gamja Flower', cursive;">글 목록</h1>
<div>
    {% for post in posts %}
    <div>
        <h3>{{post.title}}</h3>
        {% if post.writer %}
        {% if 'user' in post.writer.username and post.writer.username != 'user' %}
            작성자 : <a href="{% url 'users:mypage' post.writer.id %}">{{ post.writer.last_name }} {{ post.writer.first_name }}</a>
        {% else %}
            작성자 : <a href="{% url 'users:mypage' post.writer.id %}">{{ post.writer }}</a>
        {% endif %}
        {% else %}
            작성자 : 알 수 없음
        {% endif %}<br>
        {{post.summary}}
        <a href="{%url 'main:detail' post.id %}">...more</a>
        <br>
    </div>
    {%endfor%}
</div>
{% endif %}
{% endblock %}