{% load static %}
<link rel="stylesheet" href="{% static 'css/photo.css' %}">
<div class="card mx-auto mb-2" style="width: 12rem;">
    <div class="d-flex align-items-center" style="height:200px;">
      <img class="card-img-top" src="{% static 'images/image8.jpg' %}" style="width: 11rem;height:200px;" alt="Card image cap">
    </div>
  <div class="card-body">
    <p class="card-text">2021.04.29</p>
  </div>
</div>
<div class="card mx-auto mb-2" style="width: 12rem;">
    <div class="d-flex align-items-center" style="height:200px;">
      <img class="card-img-top" src="{% static 'images/image7.jpg' %}" style="width: 11rem;height:200px;" alt="Card image cap">
    </div>
  <div class="card-body">
    <p class="card-text">2021.04.08</p>
  </div>
</div>
<div class="card mx-auto mb-2" style="width: 12rem;">
    <div class="d-flex align-items-center" style="height:200px;">
      <img class="card-img-top" src="{% static 'images/image6.jpg' %}" style="width: 11rem;height:200px;" alt="Card image cap">
    </div>
  <div class="card-body">
    <p class="card-text">2021.03.12</p>
  </div>
</div>
<div class="card mx-auto mb-2" style="width: 12rem;">
    <div class="d-flex align-items-center" style="height:200px;">
      <img class="card-img-top" src="{% static 'images/image5.jpg' %}" style="width: 11rem;height:200px;" alt="Card image cap">
    </div>
  <div class="card-body">
    <p class="card-text">2021.03.12</p>
  </div>
</div>
<div class="card mx-auto mb-2" style="width: 12rem;">
    <div class="d-flex align-items-center" style="height:200px;">
      <img class="card-img-top" src="{% static 'images/image4.jpg' %}" style="width: 11rem;height:200px;" alt="Card image cap">
    </div>
  <div class="card-body">
    <p class="card-text">2021.03.12</p>
  </div>
</div>
<div class="card mx-auto mb-2" style="width: 12rem;">
    <div class="d-flex align-items-center" style="height:200px;">
      <img class="card-img-top" src="{% static 'images/image3.jpg' %}" style="width: 11rem;height:200px;" alt="Card image cap">
    </div>
  <div class="card-body">
    <p class="card-text">2021.02.22</p>
  </div>
</div>
<div class="card mx-auto mb-2" style="width: 12rem;">
    <div class="d-flex align-items-center" style="height:200px;">
      <img class="card-img-top" src="{% static 'images/image2.jpg' %}" style="width: 11rem;height:200px;" alt="Card image cap">
    </div>
  <div class="card-body">
    <p class="card-text">2020.12.23</p>
  </div>
</div>